<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Hey, we're online!</span>
    <div class="spacer"></div>
   
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card card-small">

    <span>{{ title }}!</span>


  </div>

  <!-- Resources -->
  <h2>Well, let's try to do something useless. So here is a random fact:</h2>

  <div class="card highlight-card">
    {{ randomFact }}
  </div>

 
  <!-- Footer -->
  <div class="footer">
     No copyrights x&copy;x
  </div>
  
</div>

<router-outlet></router-outlet>
